@import "tailwindcss";

@theme {
  --color-app-bg: #f3f4f8;
  --color-app-text: #171b24;
}

@layer base {
  body {
    background-color: #bccefb;
    color: #171b24;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: #171b24;
  }
}
